@{
    ViewBag.Title = "About";
    @Html.Partial("~/Views/PartialPages/_calculator.cshtml")

}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<h1>This is a Heading</h1>
<p>This is a paragraph.</p>

<h1 style="font-family:verdana;">This is a heading</h1>
<p style="font-family:courier;">This is a paragraph.</p>
